#databse
DB_HOST=db
DB_USERNAME=postgres
DB_PASSWORD=password
DB_PORT=5432
DB_NAME=pilot
RAILS_MAX_THREADS=1#development

#docker compose
RAILS_PORT=3000
REDIS_PORT=63792
EXTERNAL_DB_PORT=5432

# DataDog Configuration
DD_AGENT_HOST=dd-agent
DD_TRACE_AGENT_PORT=8126
DD_DOGSTATSD_PORT=8125
DD_ENV=dev
DD_SERVICE=pilot
DD_VERSION=0.1.0
DD_API_KEY=your_datadog_api_key
DD_SITE=datadoghq.eu
DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true
