#databse
DB_HOST=db
DB_USERNAME=postgres
DB_PASSWORD=password
DB_PORT=5432
DB_NAME=pilot
RAILS_MAX_THREADS=1#development

#docker compose
RAILS_PORT=3000
EXTERNAL_DB_PORT=5432

# Elasticsearch Configuration
ELASTICSEARCH_HOST=2_pilot-elasticsearch-1
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USER=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_SCHEME=http
